.contact {
  display: flex;
  justify-content: space-around;
  color: #19e8c9;
  margin-top: 100px;
  align-items: center;
  /* flex-direction: column; */
}
.contactContent {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-left: 135px;
}
.contactContent img {
  width: 350px;
}
.form {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  flex-basis: content;
}
/* .form label {
  font-size: 18px;
} */
/* .form input {
} */

.inputBox {
  position: relative;
  width: 100%;
}

.inputBox input {
  width: 400px;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: #1d2b3a;
  border-radius: 5px;
  outline: none;
  color: rgb(66, 192, 242);
  font-size: 1em;
  transition: 0.5s;
}
.inputBox textarea {
  width: 400px;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: #1d2b3a;
  border-radius: 5px;
  outline: none;
  color: #fff;
  font-size: 1em;
  transition: 0.5s;
}
.inputBox span {
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  color: #00dfc4;
  text-transform: uppercase;
  transition: 0.5s;
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
  color: #00dfc4;
  transform: translateX(10px) translateY(-7px);
  font-size: 1em;
  padding: 0 10px;
  background: #1d2b3a;
  border-left: 1px solid #00dfc4;
  border-right: 1px solid #00dfc4;
  letter-spacing: 0.2em;
  font-weight: 400;
}

.inputBox textarea:valid ~ span,
.inputBox textarea:focus ~ span {
  color: #00dfc4;
  transform: translateX(10px) translateY(-7px);
  font-size: 1em;
  padding: 0 10px;
  background: #1d2b3a;
  border-left: 1px solid #00dfc4;
  border-right: 1px solid #00dfc4;
  letter-spacing: 0.2em;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span,
.inputBox textarea:valid ~ span,
.inputBox textarea:focus ~ span {
  background: #00dfc4;
  color: #1d2b3a;
  border-radius: 2px;
}
.inputBox input:valid,
.inputBox input:focus,
.inputBox textarea:valid,
.inputBox textarea:focus {
  border: 1px solid rgb(30, 94, 94);
}
.sendBtn {
  width: 100%;
  color: rgb(52, 51, 51);
  font-size: 18px;
  border: 2px solid rgb(52, 51, 51);
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease;
  background-color: #19e8c9;
  justify-self: center;
}

.sendBtn:hover {
  transform: scale(1.05);
  color: #19e8c9;
  background-color: rgb(52, 51, 51);
  border: 1px solid #19e8c9;
  font-weight: 400;
}

/* Responsive */

@media (max-width: 767px) {
  .contact,
  .contactContent {
    display: flex;
    flex-direction: column;
  }
  .contactContent {
    margin: 20px;
    padding: 10px;
  }
  .form {
    width: 350px;
    margin-top: 30px;
    gap: 20px;
  }
  .inputBox {
    position: relative;
    width: 100%;
  }

  .inputBox input {
    width: 330px;
  }
  .inputBox textarea {
    width: 330px;
  }
}
