.email {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.email h1 {
  margin: 100px auto;
  color: #079e91;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  max-width: 300px;
  position: relative;
  transform: rotate(90deg);
}
.vertical {
  /* margin-top: 10px; */
  height: 40px;
  width: 1px;
  background-color: #079e91;
  margin: 30px;
}

/* .email h1:before {
  content: "";
  display: block;
  width: 40px;
  height: 1px;
  background: #079e91;
  left: -50px;
  top: 50%;
  position: absolute;
}
.email h1:after {
  content: "";
  display: block;
  width: 40px;
  height: 1px;
  background: #079e91;
  right: -50px;
  top: 50%;
  position: absolute;
} */

/* Responsive */

@media (max-width: 767px) {
  .email {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .email h1 {
    margin: 50px auto;
    transform: none;
  }
  .vertical {
    /* margin-top: 10px; */
    height: 1px;
    width: 40px;
    background-color: #079e91;
    margin: 10px;
  }
}
