.projects {
  display: flex;
  justify-content: space-around;
  color: #19e8c9;
  margin-top: 100px;
  align-items: center;
}
.cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 135px;
}
.projectCard {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30px;
}
.project {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(52, 51, 51);
  margin: 2px 2px 0 2px;
  border-radius: 5px;
}
.project img {
  width: 240px;
  border-radius: 5px;
}
.project h2 {
  font-size: 20px;
  background-color: rgb(52, 51, 51);
  font-weight: 300;
}
.iconSec {
  display: flex;
  justify-content: space-around;
  margin: 2px;
  background-color: rgb(52, 51, 51);
  border-radius: 5px;
}
.iconSec img {
  width: 20px;
  margin: 10px;
  background-color: rgb(52, 51, 51);
  cursor: pointer;
}

/* Responsive */

@media (max-width: 767px) {
  .projects {
    /* margin-left: 30px;
    margin-right: 30px;
    padding-left: 20px;
    padding-right: 20px; */
    display: flex;
    flex-direction: column;
  }
}
